<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/resources/css/setup.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>


        <title>Carrots</title>
    </head>
    <body>
        <header class="bg">
            <nav class="nav-menu">
                <div class="row">
                    <a href="/admin" class="logo">CARROTS</a>
                    <ul class="main-nav">
                        <li><a href="/admin">warehouse</a></li>
                        <li><a href="/addproduct">add products</a></li>
                        <li><a href="/enter">enter coupon</a></li>
                        <li><a href="/delivery">delivery note</a></li>
                        <li><a href="/liststaff">list staff</a></li>
                        <li><a href="/"><ion-icon name="arrow-undo"></ion-icon></a></li>
                    </ul>
                </div>
            </nav>
			
            <div class="content-wrapper">
               <h3>"LIST-NOTE-DETAIL"</h3>
               <div class="col span-1-of-2">
                   <div class="page-detail">
                       <form action="/insertCTX" method="post" class="form">
                           <div class="row-add">
                               <div class="form-group">
                                   <label>Name<span>*</span></label>
                  					<select id="tenNS" name ="tenNS" onchange="run()" class="de-form-control">
                               	        <option label="Chọn tên nông sản"></option>
                       					<option th:each ="v : ${ns}" th:value ="${v.maNS}" th:text ="${v.tenNS} +': Số lượng còn lại là '+  ${v.soLuong}" ></option>
                                   </select>
                               </div>
                               <div class="form-group">
                                     <label>ID <span>*</span></label>
                                   <input  type="text" id="maNS" name ="maNS" class="de-form-control" readonly>
                 
                               </div>
                               <div class="form-group">
                                   <label>ID-Out <span>*</span></label>
                                   <input type="text" name="maX" readonly th:value ="${maX}" class="de-form-control">
                                   
                               </div>
                               <div class="form-group">
                                  <label>Count <span>*</span></label>
                                   <input type="text" name ="soLuong" class="de-form-control">
                               </div>
                               <div class="add-pro-detail">
                                   <input type="submit" value="Add">
                                   <a href="/delivery" class="btn btn-full detail">Cancel</a>
                               </div>
                           </div>                            
                       </form>
                   </div>
               </div>
               <div class="col span-1-of-2">
                   <div class="page-content">
                       <table class="table table-products">
                           <thead>
                               <tr class="text-center">
                                   <th>ID</th>
                                   <th>Name</th>
                                   <th>ID-Out</th>
                                   <th>Count</th>
                                   <th colspan="1"></th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each = "xns : ${listXNS}">
				                <td th:utext = "${xns.maNS}"></td>
				                <td th:utext = "${xns.tenNS}"></td>
				                <td th:utext = "${xns.maX}"></td>
				                <td th:utext = "${xns.soLuong}"></td>
				                <td><a th:href="@{/deleteCTX/(maX = ${xns.maX},maNS = ${xns.maNS})}"><button type="button" class="btn">
				                                    <span class="badge badge-light">Delete</span></button></a></td>
				            </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
            </div>
        </header> 
        <script type="text/javascript">
        function run(){
        	document.getElementById("maNS").value = document.getElementById("tenNS").value;
        }
        </script>
    </body>
</html>