<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/resources/css/setup.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
        <title>Carrots</title>
    </head>
    <body>
        <header class="bg">
            <nav class="nav-menu">
                <div class="row">
                    <a href="admin" class="logo">CARROTS</a>
                    <ul class="main-nav">
                        <li><a href="admin">warehouse</a></li>
                        <li><a href="addproduct">add products</a></li>
                        <li><a href="enter">enter coupon</a></li>
                        <li><a href="delivery">delivery note</a></li>
                        <li><a href="liststaff">list staff</a></li>
                        <li><a href="/"><ion-icon name="arrow-undo"></ion-icon></a></li>
                    </ul>
                </div>
            </nav>

            <div class="head">
                <div class="row">
                    <div class="col span-1-of-3">
                        <a href="addenter" class="add"><h4><ion-icon name="person-add-outline"></ion-icon> Add-Coupon</h4></a>
                    </div>
                    <div class="col span-1-of-3">
                        <h3>"LIST-COUPON"</h3>
                    </div>
                    <div class="col span-1-of-3">
                        <a href="enter" class="re"><h4><ion-icon name="refresh-outline"></ion-icon> Reload</h4></a>
                    </div>
                </div>
                <div class="page-content">
                    <table class="table table-products">
                        <thead>
                            <tr class="text-center">
                                <th>ID-In</th>
                                <th>ID-Staff</th>
                                <th>Name-Staff</th>
                                <th>Date</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "nns : ${listNNS}">
				                <td th:utext = "${nns.maN}"></td>
				                <td th:utext = "${nns.maNV}"></td>
				                <td th:utext = "${nns.tenNV}"></td>
				                <td th:utext = "${nns.ngay}"></td>
				                <td><a th:href = "@{ctn/(maN=${nns.maN})}"><button type="button" class="btn">
				                                    <span class="badge badge-light">Detail</span></button></a></td>
				                <td><a th:href = "@{/deleteNNS/{maN}(maN=${nns.maN})}"><button type="button" class="btn">
				                                    <span class="badge badge-light">Delete</span></button></a></td>
            				</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </header>
    </body>
</html>